adblock==0.6.0
colorama==0.4.6
Jinja2==3.1.6
MarkupSafe==3.0.2
Pygments==2.19.2
pyobjc-core==11.1
pyobjc-framework-Cocoa==11.1
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6-WebEngine==6.9.0
PyQt6-WebEngine-Qt6==6.9.1
PyQt6_sip==13.10.2
PyYAML==6.0.2
